body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;

    background-image: url("/dist/images/wood-panels.jpg");
    background-size: 2560px 1440px;

    font-family: "Abel",sans-serif;

    .header-box {
        height: 150px;
        width: 100%;
        background-color: #000000;
        border-top: 1px #000 solid;
        border-bottom: 1px #000 solid;
        box-shadow: inset 0 1px 1px #222222, inset 0 -1px 1px #222222;

        .header-logo {
            width: 300px;
        }
        .badge {
            color: white;
        }
        .link {
            position: relative;
            opacity: 0%;
            top: 100px;
        }
        .fa {
            color: white;
            padding-right: .6em;
            top: 100px;
            right: 0px;
        }
    }
    .blurb-box {
        width: 100%;
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 150%;
    }
    .details-box {
        min-height: 100%
    }
    .contact-box {
        height: 367px;
    }
    .container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .content-container {
    }
    .content{
        position: relative;
        min-height:100%;
        padding-bottom: 20px;
    }
    .spacer {
        height: 1em;
    }
    label.detail {
        color: #ededed;
        font-weight: 600;
        font-size: 1.6em;
        display: inline-block;
        margin-left: .6em;
    }
    label.offset {
        margin-left: .6em;
    }
    div.detail {
        background:#FFF;
        opacity: 0.7; 
        text-align: justify; 
        color: #000000;
        font-weight: 8000;
        font-size: 1.5em;
        font-family: "Abel",sans-serif;
        padding: 20px;
    }
    div.contact {
        background-color: #FFF;
        opacity: 0.8;
        margin-left: 1em;
        margin-right: 1em;
    }
    .pic {
        margin-right: 1em;
        margin-left: 1em;
        opacity: 1;
        display: inline-block;
    }
    .pic-home-renovations {
        background: url("/dist/images/home_renovations_bw.png") no-repeat !important;
    }
    .pic-woodworking {
        background: url("/dist/images/fine_woodworking_bw.png") no-repeat;
    }
    form {
        padding: 1em;
        padding-bottom: 2em;
        label {
            color: #22201e;
            font-weight: 600;
            font-size: 1.2em;
        }
        input {
            height: 1.7em;
            border: 1px solid;
        }
        textarea {
            margin-bottom: 10px;
            width:98%;
            border: 1px solid;
        }
        .submit-button {
            width: 10em;
        }
    }
}
