@media only screen and (min-width: 900px) {
    body {
        .container {
            width: 900px;
        }
        .header-box {
          width: 100%;
        }
        .details-box {
            width: 50%;
        }
        .contact-box {
            width: 50%;
        }
    }
}
